<form [formGroup]="signupForm">
<div class="outer">
  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input formControlName="name" type="text" matInput placeholder="Nimal Sirisena">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input  formControlName="email" type="email" matInput placeholder="pat@example.com">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input formControlName="userName" type="text" matInput placeholder="Nimal_Sirisena">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password"  type="password" matInput >
  </mat-form-field>
  <br>
  <br>

</div>
  <mat-action-row>
  <button (click)="onSignup()" [disabled]="signupForm.invalid" mat-raised-button type="submit" mat-button color="primary">Sign Up</button>
    <span class="spacer"></span>
    <li><a routerLinkActive="mat-accent" mat-button color="primary" routerLink="../login">Already Sign up? Login</a></li>
   </mat-action-row>
</form>
